# w3 - school tutorial 
**I am an expert in data analysis with python language**

In [6]:
# simple sintax
my_name = "Emmanue Ouma"
passion = "learning python"
print(my_name)
print(passion)

Emmanue Ouma
learning python

In [12]:
# indentation - shows block of codes
if 10 > 19:
    print("ten is greater than nineteen!")
else:
    print("ten is less than nineteen!")

ten is less than nineteen!

In [16]:
# comments 
# single line comment (#)
# KES. 500,000 is my monthly net salary 

# multiple line comments (Press C+/)
# note that the """ DOES NOT work like in the python app

# I am driving my dream car.
# a RANGE ROVER sports.
# white with tinted windows.
# tubeless with white leather seat.
# passanger or backleft seat is preserved for my beautiful queen.
# YES

In [19]:
# types of variables 
# create a variable by CASTING (simply specifying the type to a variable)
a = str(5)
A = float(5)
aa = int(5)
print(a, A, aa)
print(type(a))
print(type(A))
print(type(aa))

5 5.0 5
<class 'str'>
<class 'float'>
<class 'int'>

In [22]:
# combining variables
e = "emmanuel"
o = "ouma"
w = "wayagi"
print(e, o, w)
print(e + o + w)

emmanuel ouma wayagi
emmanueloumawayagi

In [29]:
# DATA types
# 1. NUMERIC TYPE (int, float and complex)
# e.g 5, 5.4, 5j respectively 

# the float type is sometimes written with an "e" to indicate the power of 10
# e.g 
q = 34e3
print(q)
print(type(q))

34000.0
<class 'float'>

In [35]:
# converting numeric types
q = 34
r = 3.4
s = 3j

print(type(q))
print(type(r))
print(type(s))

# converting
u = float(q)
v = int(r)
w = complex(r)

print(u)
print(v)
print(w)

print(type(u))
print(type(v))
print(type(w))

<class 'int'>
<class 'float'>
<class 'complex'>
34.0
3
(3.4+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [40]:
# Random numbers
# this returns any random number within the specified range
import random as rd
print(rd.randrange(100,1000))

795

In [42]:
# 2. STRING TYPE (variable in single or double quotations)
i_am = "blessed"

# accessing elements in a string 
print(i_am[-2]) # returns the 2nd last letter 
# start from looping

s